      @font-face {
        font-family: "BIGSHOT";
        src: url("fonts/big-shot.ttf");
      }

      body {
        font-family: "BIGSHOT";
        margin: 0;
        padding: 0;
        text-align: center;
        background-color:#f5c8e1;
        background-image: url("images/stars.png");
        background-repeat: repeat;
      }

      h1 {
        text-align: center;
        color: #663399;
      }

      .image-container {
        display: inline-block;
      }

      .image-container img {
        display: block;
        margin: 0 auto;
        width: 300px;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      }

      h2 {
        text-align: center;
      } 
      
      p {
        font-size: 20px;
        font-style: bold;
      }

      ul {
        list-style: none;
      }

      .game-container {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      #word {
        text-align: center;
        color: #f44336;
        font-size: 25px;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 30px;
      }

      #input {
        width: 50%;
        padding: 10px;
        font-size: 16px;
        margin: 0 auto;
        display: block; 
      }

      #submit-button {
        display: block;
        width: 50%;
        margin: 10px auto;
        padding: 10px;
        background-color: #663399;
        color: #111010;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

      #message {
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        color: #f44336;
      }
 
