* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background:  #87CEFA;
    background-image: url("img/background.png");
}


.container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 5px;
    background: #EE82EE;
}

.game-details {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    background: #663399;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}





.play-board .food {
    background: #FFFF00;
    box-shadow: 0 0 10px #FFFF00, 0 0 30px #FFFF00, 0 0 80px #FFFF00;
}
.play-board .head {
    z-index: 5;
    position: relative;
    background: #00ff00;
    box-shadow: 0 0 7px #00ff00, 0 0 20px #00ff00;
}

