:root {
    --bg: #cde0f0;
    --gap: 0.5vmin;
    --cell-size: 8vmin;
    --border-radius: 0.5vmin;
    --bg-cell: #f4f7f9;
    --text-color: #222222;
    --font-size: 3vmin;
    --filled-bg: #eceeef;
    --selected-bg: #ede4cb;
    --highlighted-bg: #f6f1e5;
    --error: #ff8c8c;
    --error-text-colar: #cb3838;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
    gap: var(--gap);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell-size);
    width: var(--cell-size);
    border-radius: var(--border-radius);
    background-color: var(--bg-cell);
    color: var(--text-color);
    font-size: var(--font-size);
    cursor: pointer;
}

.cell.filled {
    background-color: var(--filled-bg);
}

.cell.highlighted {
    background-color: var(--highlighted-bg);
}

.cell.selected {
    background-color: var(--selected-bg);
}

.cell.error {
    background-color: var(--error);
    color: var(--error-text-color)
}

.numbers {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: var(--gap);
    margin-top: 2vmin;
}

.cell:nth-child(3),
.cell:nth-child(6) {
    margin-right: var(--gap);
}

.cell:nth-child(19),
.cell:nth-child(46) {
    margin-bottom: var(--gap);
}

.number,
.remove {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell-size);
    border-radius: var(--border-radius);
    background-color: var(--bg-cell);
    font-size: var(--font-size);
    color: var(--text-color);
    cursor: pointer;
}

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: scale(1.2);
    }

    25% {
        transform: scale(1.2), rotate(30deg);
    }
     
    50% {
        transform: scale(1.2), rotate(-30deg);
    }
}