@font-face {
  font-family: "BIGSHOT";
  src: url("../fonts/big-shot.ttf");
}

h1 {
  text-shadow: 3px 3px #663399;
  color: white;
}

p {
  color: #663399;
}


body {
  font-family: "BIGSHOT";
  padding-top: 50px;
  padding-right: 25%;
  padding-left: 25%;
  background-color: #f5c0de;
  background-image: url(../img/stars.png);
}

.btn-style {
<<<<<<< HEAD
  background-color: #663399;
=======
  background-color: #7237db;
>>>>>>> refs/remotes/origin/debibl
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn-style:hover {
  background-color: #d578d5;
  color: white;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding-left: 20px;
}

.float-right {
  float: right;
}

#hangmanPic {
  display: flex;
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 35%;
  height: 25em;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.letter {
  margin: 5px 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 15px;
}
